<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.risqi17.drawer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp.SignUpUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LupaPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Akun"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Pemesanan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Pesan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Saran"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DetailImageActivity" />
        <activity
            android:name=".PilihPesanan"
            android:parentActivityName=".Pesan" />
        <activity android:name=".Celana" />
        <activity android:name=".Kemeja"></activity>
    </application>

</manifest>